@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: sans-serif;
}

body,
.ant-layout,
.ant-layout-sider {
  background: linear-gradient(to bottom, #ffffff, #a7f5ff, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button,
a {
  padding: .4vmax;
}

button:hover,
a:hover {
  transform: scale(1.03) translateY(-5%);
  cursor: grab;
}

button:hover {
  box-shadow: 0 0 1vmax .2vmax rgb(138, 138, 138);
}

.modal-html-content ol {
  padding-left: .5vmax;
}

.modal-html-content li {
  margin-bottom: .5vmax;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}